.page-header {
  border-bottom: 1px solid #720000;
  margin: 0 0 30px;
  padding-bottom: 1px;
  font-size: 1.25rem;
  color: maroon;
  display: flex;
}

.forgot-password-form-container {
  background: #f8f8f8;
  padding: 20px;
}
.forgot-password-form-container p {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    box-sizing: border-box;
    display: block;
  }
  
  label {
    display: flex;
    /* display: inline-block; */
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
  }
  *, :after, :before {
    box-sizing: border-box;
  }
  .form-control {
    display: block;
    /* width: 20rem; */
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .recover-password {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    width: 100%;
    /* width: 22rem; */
    display: flex;
    justify-content: center;
  }
  .cancel {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
  }
  
  .cancel a {
    color: #007bff;
    text-decoration: none;
  }
  
  .cancel a:hover {
    text-decoration: underline;
  }
  
  .error{
    display: flex;
    color: red;
  }
  /* .panel{
      color: #0c5460;
      background-color: #d1ecf1;
      border-color: #bee5eb;
      position: relative;
      padding: 0.75rem 1.25rem;
      margin-bottom: 1rem;
      border: 1px solid transparent;
      border-radius: 0.25rem;
      box-sizing: border-box;
      display: block;
    } */

    /* Default styles */

  