.page-header {
  border-bottom: 1px solid #720000;
  margin: 0 0 30px;
  padding-bottom: 15px;
  font-size: 1.25rem;
  color: maroon;
  background-color: #fff;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}
.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}